body{
    background: url('../assets/img/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 125%;
    font-family: "Arial", Times, sans-serif;
}
.icon {
    font-size: 100px;
}
.icon i {
    color: black;
}
.icon i:hover {
    color: #5271FF;
}